node_modules
# Keep environment variables out of version control
.env
dist/
/generated/prisma
uploads/*
!uploads/.gitkeep
*.log
firebase-service-account.json
reid-30473-129c6dc3a496.json
# Ignore sensitive files
reid-30473-129c6dc3a496.json
